@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fce115;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    border-radius: 25px;
}

.fields {
    display: flex;
    padding: 7px;
    flex-direction: column;
    justify-content: center;
}

.fields>input {
    border-radius: 10px;
    padding: 10px;
    border: #fce115 solid 1px;
    outline: none;
    min-width: 200px;
}

.btn-calc {
    border-radius: 5px;
    border: #fce115 2px solid;
    padding: 8px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    margin: 30px;
    font-weight: bold;
}
.btn-calc:hover {
    border-radius: 5px;
    padding: 8px;
    border: #000 2px solid;
    min-width: 100px;
    color: #000;
    background-color: #fce115;
    cursor: pointer;
    font-weight: bold;
}

.btn-calc:active {
    border-radius: 5px;
    border: #fce115 2px solid;
    padding: 8px;
    min-width: 100px;
    color: #000;
    background-color: transparent;
    font-weight: bold;
}